$white: #ffffff;
$black: #000000;
$darkgray: #1d1d1b;
$purple: #010628;
$violet:#F93DF9;
$blue: #3FA9F5;

@font-face {
  font-family: 'BlinkerBold';
  src: url("../fonts/BlinkerBold.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'BlinkerExtraLight';
  src: url("../fonts/BlinkerExtraLight.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'BlinkerSemiBold';
  src: url("../fonts/BlinkerSemiBold.ttf"); /* IE9 Compat Modes */
}

$font-size: 16;
$max-width: 1600px;
//MEDIAS
$max: 1600px;
$lap: 1400px;
$lg: 1200px;
$md: 850px;
$sm: 580px;
$xs: 400px;

//FUNCTIONS
@function pxtorem($px) {
  @return #{$px/$font-size}rem;
}

@function col($n, $t: 18) {
  @return #{(($n * 100) / $t)}#{"%"};
}

@mixin h1($color: initial, $scale: 1) {
  font-family: "BlinkerBold";
  font-size: pxtorem(60 * $scale);
  color: $color;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  @media screen and (max-width: $lap) {
    font-size: pxtorem(30 * $scale);
  }
  @media screen and (max-width: $md) {
    font-size: pxtorem(28 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}

h1 {
  @include h1();
  text-transform: uppercase;
  color: $white;
}

@mixin h2($color: initial, $scale: 1) {
  font-family: BlinkerSemiBold;
  font-size: pxtorem(36 * $scale);
  color: $color;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  @media screen and (max-width: $lap) {
    font-size: pxtorem(30 * $scale);
  }
  @media screen and (max-width: $md) {
    font-size: pxtorem(28 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}

h2 {
  @include h2();
  color: $white;
}

@mixin h3($color: initial, $scale: 1) {
  font-family: museo700;
  font-size: pxtorem(40 * $scale);
  color: $color;
  margin: 0;
  font-weight: normal;

  @media screen and (max-width: $md) {
    font-size: pxtorem(28 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}

h3 {
  @include h3();
}

@mixin p($color: initial, $scale: 1) {
  font-family: "BlinkerSemiBold";
  font-size: pxtorem(20 * $scale);
  color: $color;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  @media screen and (max-width: $md) {
    font-size: pxtorem(16 * $scale);
  }
}

p {
  @include p();
  color: $white;
}

@mixin button($bg) {
  background: rgb(249,61,249);
  background: linear-gradient(0deg, rgba(249,61,249,1) -20%, rgba(1,6,40,1) 85%);
  font-family: "BlinkerBold";
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $white;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  border:1px solid  $violet;
  margin: auto;
  cursor: pointer;
  display: block;
  text-align: center;
  &:hover {
    background: linear-gradient(0deg, rgba(249,61,249,1) -10%, rgba(1,6,40,1) 85%);
    transition: all 0.3s ease;
  }
  &:active {
    //background: darken($bg, 25%);
  }
}

.button {
  @include button($purple);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.text {
  overflow: hidden;
}

.underline {
  position: relative;
  z-index: 1;
  display: inline-block;

  .underlineChild {
    display: block;
    width: 0;
    height: 15px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;

    z-index: -1;
    @media screen and (max-width: $md) {
      height: 8px;
      bottom: 2px;
    }
  }
}

body {
  margin: 0;
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: col(18);
  padding:0 col(1);
  &.scrolldown{
    transform: translateY(0);
  }
  &.contactnav {
    background-color: $white;
    .inner {
      .left {
        .logo {
          width: 150px;

          img{
            width: 150px;
          }
        }
      }
      .right {
        p {
          transition: all 0.5s ease;
          color: $darkgray;
          &:after {
            background: $darkgray;
          }
          &:hover {
            &:before {
              background: $darkgray;
            }
            &:after {
              background: transparent;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: $md) {
    display: none;
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-width;
    margin: auto;
    height: 100px;
    .left {

    }
    .right {
      display: flex;

      .logo {
        width: 50px;
        margin-right: 100px;
      }
      p {
        transition: all 0.5s ease;
        margin: 0 25px;
        color: $white;
        position: relative;
        @media screen and (max-width: $lg) {
          margin: 0 10px;
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 0;
          transition: width 0s ease, background 0.5s ease;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          height: 3px;
          width: 0;
          background: $white;
          transition: width 0.5s ease;
        }
        &:hover {
          &:before {
            width: 100%;
            background: $white;
            transition: width 0.5s ease;
          }
          &:after {
            width: 100%;
            background: transparent;
            transition: all 0s ease;
          }
        }
      }
    }
  }
  &.activo {
    transition: all 0.5s ease;
    background-color: transparent;

    .inner {
      .left {
        .logo {
          svg {
            .st0 {
              transition: all 0.5s ease;
              fill: $purple;
            }
          }
        }
      }
      .right {
        p {
          transition: all 0.5s ease;
          color: $white;
          &:after {
            background: $white;
          }
          &:hover {
            &:before {
              background: $white;
            }
            &:after {
              background: transparent;
            }
          }
        }
      }
    }
  }
}

.responsivemenu {
  display: none;
  @media screen and (max-width: $md) {
    display: block;
  }
}

.burguer {
  display: none;
  @media screen and (max-width: $md) {
    display: flex;
  }
  box-shadow: -1px 1px 20px -9px rgba(0, 0, 0, 0.69);
  position: fixed;
  right: 10%;
  top: 5%;
  z-index: 99999;
  width: 60px;
  height: 60px;
  background-color: $white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  .cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    > div {
      transition: all 0.5s ease;
      width: 30px;
      height: 2px;
      background-color: $purple;
      transform-origin: 1px center;
      &:nth-child(1) {
        transform: rotate(0deg);
      }
      &:nth-child(2) {
        opacity: 1;
        transform: translateX(0px);
      }

      &:nth-child(3) {
        transform: rotate(0deg);
      }
    }
  }
  &.active {

    box-shadow: none;
    .cont {
      > div {
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
          transform: translateX(20px);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.menu {
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 99998;
  width: 100vw;
  height: 100vh;
  z-index: 99998;
  transform-origin: center center;
  transform: scale(0, 1);
  transition: all 0.5s ease;
  background-color: $purple;
  &.active {
    transition: all 0.5s ease;
    transform: scale(1, 1);
    > div {
      p {
        transition: opacity 0.5s ease;
        transition-delay: 0.5s;
        opacity: 1;
      }
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    text-align: center;
    p {
      margin-bottom: 30px;
      opacity: 0;
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  &.active {
    display: block;
  }
}

.modal-content {
  background-color: $white;
  margin: 10% auto;
  padding: 25px;
  border-radius: 10px;
  width: 50%;
  position: relative;
  @media screen and (max-width: $md) {
    width:col(16);
    margin: 50% auto;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: col(1);
    right: col(1);
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  >p {
    &:nth-of-type(1) {
      margin-bottom: 25px;
    }
    &:nth-of-type(2) {
      margin-top: 25px;
    }
    &.small{
      @include p($black,.7)
    }
  }
  p,h2 {
    text-align: center;
    color: $black;
  }
  .button {
    margin-top: 25px;
    width: 50%;
    border: none;
  }
  .container{
    margin-top: 25px;
    input{
      width: 100%;
    }
  }

}

.section1 {
  width: col(18);
  padding: col(1);
  //height: 100vh;
  background-color:$purple;
  @media screen and (max-width: $lap) {
    height: auto;
  }
  .companyLogo{
    width: 150px;
  }

  .top{
    display: flex;
    align-items: center;
    @media screen and (max-width: $md) {
      flex-direction: column-reverse;
    }
    .left{
      width: col(9);
      @media screen and (max-width: $md) {
        width: 100%;
        text-align: center;
      }
      h1{
        &:nth-of-type(1){
          @include h1($white,.8)
        }
        &:nth-of-type(2){
          @include h1($white,1.1)
        }
      }
      h2{
        &:nth-of-type(1){
          @include h2($white,2.3)
        }
        &:nth-of-type(2){
          @include h2($white,2.3)
        }
      }
    }

    .button{
      margin: 10px 0 0 0;
      @media screen and (max-width: $md) {
        display: none;
      }
    }
    .right{
      width: col(9);
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: $md) {
        width: 100%;
      }
      .logoavtrz{
        width: 250px;
        @media screen and (max-width: $md) {
          width: 200px;
        }
      }
      .avatares{
        width: 600px;
        @media screen and (max-width: $max) {
          width: 400px;
        }
      }
    }
  }

  .bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media screen and (max-width: $lap) {
      align-items: flex-start;
      margin-top: 15px;
    }
    @media screen and (max-width: $md) {
      flex-direction: column-reverse;
    }
    .hidden{
      display: none;
      @media screen and (max-width: $md) {
        display: block;
        margin: 15px auto 15px auto;
      }
    }
    .left{
      text-align: center;
      @media screen and (max-width: $md) {
        width: 100%;
      }
      .pin{
        width: 50px;
      }
    }

    .right{
      width: 40%;
      @media screen and (max-width: $md) {
        width: 100%;
      }
      .texto{
        display: flex;
        align-items: center;
        justify-content: space-between;
        >div{
          width: 10px;
          height: 3px;
          background-color: $violet;
        }
      }
    }

    .companies{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      @media screen and (max-width: $lap) {
        margin-top: 0;
      }
      img{
        width: 100px;
      }
      .apple{
        width: 50px;
      }
    }
  }



}

.section2 {
  width: col(18);
  padding: 0 col(1);
  height: 100vh;
  padding-top: 100px;
  background-color:$purple;
  @media screen and (max-width: $lap) {
    height: auto;
    padding: col(1) 0;
  }
  @media screen and (max-width: $md) {
    padding-top: 150px;
  }
  h1{
    text-align: center;
  }
  .avatars{
    width: col(15);
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: $md) {
      flex-direction: column;
    }
    #cursor{
      width: 100px;
      position: absolute;
      bottom: 0;
      opacity: 1;
      transition: all .5s ease;
    }
    @keyframes cursoranim {
      from {
        opacity: 1;
        transform: scale(1.1);
      }
      to {

        transform: scale(1);
      }
    }
    .first-image{
      left: 0;
      animation: cursoranim .5s linear 1s infinite;
      animation-fill-mode: forwards;
      @media screen and (max-width: $md) {
        left: initial;
        right: 0;
        top: 0;
      }
    }
    .second-image{
      left: 50%;
      animation: cursoranim .5s linear 1s infinite;
      animation-fill-mode: forwards;
      @media screen and (max-width: $md) {
        left: initial;
        right: 0;
        top: 50%;
      }
    }
    .third-image{
      left: 100%;
      animation: cursoranim .5s linear 1s infinite;
      animation-fill-mode: forwards;
      @media screen and (max-width: $lap) {
        left: 90%;
      }
      @media screen and (max-width: $md) {
        left: initial;
        right: 0;
        top: 90%;
      }
    }
    >div{
      transition: all .5s ease;
      &:hover{
        transform: scale(1.1);
        transition: all .5s ease;
        p{
          opacity: 1;
          transition: all .5s ease;
        }
      }
      img{
        width: 350px;
        display: block;
        margin: auto;
      }
      p{
        text-align: center;
        margin-top: -50px !important;
        opacity: 0;
        transition: all .5s ease;
        @include p ($white,1.3)
      }
      .pleca{
        width: 70%;
        margin: 50px auto 0 auto;
        display: block;
      }
    }
  }
}

.section3{
  width: col(18);
  height: 100vh;
  position: relative;
  background-color: $purple;
  overflow: hidden;
  @media screen and (max-width: $lap) {
    height: auto;
    padding: col(1) 0;
  }

  h1{
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: $lap) {
      margin-bottom: 0;
    }
  }
  .fondo{
    position: absolute;
    right: -25%;
    top: -10%;
    width: 1000px;
  }
  >div{
    //background-color: $purple;
    width: 900px;
    height: 600px;
    margin: auto;
    position: relative;
    @media screen and (max-width: $lg) {
      width: 500px;
    }
    .svgcont{
      position: absolute;
      width: 220px;
      @media screen and (max-width: $md) {
        width: 170px;
      }
      &.svg1{
        left: 210px;
        top: 110px;
        @media screen and (max-width: $lg) {
          left: 30px;
        }
        @media screen and (max-width: $sm) {
          top: 130px;
          left: 90px;
        }
      }
      &.svg2{
        right: 230px;
        top: 100px;
        @media screen and (max-width: $lg) {
          right: 30px;
        }
      }
      &.svg3{
        right: 210px;
        bottom: 200px;
        @media screen and (max-width: $lg) {
          right: 0px;
          bottom: 200px;
        }
        @media screen and (max-width: $sm) {
          right: 10px;
        }
      }
      &.svg4{
        right: 190px;
        top: 80px;
        @media screen and (max-width: $lg) {
          right: 0px;
        }
        @media screen and (max-width: $md) {
          right: 90px;
        }
      }
      polyline, line{
        stroke-dasharray: 3;
        animation: dash 5s linear infinite;
      }
    }
    .barra{
      width: 13px;
      position: absolute;
      @media screen and (max-width: $lap) {
        width: 10px;
      }
      &.barraleft{
        left: 0;
      }
      &.barraright{
        right: 0;
      }
    }
    .base{
      width: 270px;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      @media screen and (max-width: $md) {
        width: 250px;
      }
    }
    .cuernoder{
      position: absolute;
      right: 150px;
      width: 70px;
      top: 0px;
      @media screen and (max-width: $md) {
        right: 30px;
      }
    }
    .cuernoizq{
      position: absolute;
      left: 140px;
      width: 60px;
      top: 120px;
      @media screen and (max-width: $md) {
        left: 30px;
      }
    }
    .ojos{
      position: absolute;
      right: 190px;
      width: 70px;
      top: 210px;
      @media screen and (max-width: $md) {
        top: 210px;
        right: 50px;
      }
    }
    .boca{
      position: absolute;
      right: 210px;
      width: 30px;
      bottom: 280px;
      @media screen and (max-width: $md) {
        right: 30px;

      }
      @media screen and (max-width: $sm) {
        right: 30px;
        bottom: 250px;
      }
    }
  }
}

.section4{
  background-color: $purple;
  position: relative;
  width: col(18);
  padding: col(1);
  h1{
    text-align: center;
    margin-bottom: 50px;
  }
  h2{
    text-transform: capitalize;
  }
  .cont{
    height: 100vh;
    position: relative;
    .cuadros{
      width: 125px;
      height: 125px;
      background-color: $purple;
      position: absolute;
    }
    .rare{
      position: absolute;

      left: 0;
      top: 0;
      .cuadro1{
        left: 0;
        bottom: 4px;
        animation-name: opacity;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        animation-delay: 0s;
        //animation-direction: alternate;
        animation-direction: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-play-state: running;
      }
      .cuadro2{
        left: 130px;
        bottom: 4px;
        animation: opacity infinite 3s linear forwards;
        animation-delay: 3s;
      }
      .cuadro3{
        left: 260px;
        bottom: 4px;
      }
    }
    .head{
      position: absolute;
      top: 0;
      right: 0;
    }
    .eyes{
      position: absolute;
      top: 40%;
      right: 0;
      @media screen and (max-width: $lap) {
        top: 30%;
      }
      @media screen and (max-width: $md) {
        top: 20%;
      }
    }
    .clothes{
      position: absolute;
      bottom: 10%;
      right: 0;
      @media screen and (max-width: $md) {
        bottom: 20%;
      }
    }
    .mouth{
      position: absolute;
      left: 0;
      bottom: 50%;
      @media screen and (max-width: $lap) {
        bottom:50%;
      }
      @media screen and (max-width: $md) {
        bottom:70%;
      }
    }
    .bg{
      position: absolute;
      bottom: 20%;
      left: 0;
    }
    .avatar{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      width: 350px;
      height: 350px;
      @media screen and (max-width: $lap) {
        width: 250px;
        height: 250px;
      }
      @media screen and (max-width: $md) {
        width: 200px;
        height: 200px;
      }
      img{
        width: 350px;
        @media screen and (max-width: $lap) {
          width: 250px;
        }
        @media screen and (max-width: $md) {
          width: 200px;
        }
      }
    }
  }
  .traits{
    img{
      width: 100px;
      @media screen and (max-width: $lap) {
        width: 80px;
      }
      @media screen and (max-width: $md) {
        width: 40px;
      }
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.section1,.section2, .section3, .section4, .section6, .section7, .section9,.section10{
  position:relative;
  z-index: 1;
}
.webgl{
  position: fixed;
  top: 0;
  left: 0;
}
.section5{
  overflow: hidden;
  width: col(18);
  height: 100vh;
  .container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    h1{
      margin-top: 100px;
      text-align: center;
    }
    .fondo{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    .button{
      bottom: 15px;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }

  .entire-content{
    width: 200px;
    @media screen and (max-width: $lap) {
      width: 130px;
    }
  }

}

.section6{
  background-color: $purple;
  display: flex;
  align-items: center;
  padding: col(1);
  @media screen and (max-width: $lg) {
    flex-direction: column;
  }
  #slideshow{
    @media screen and (max-width: $lg) {
      display: none;
    }
  }
  .responsive-slider{
    width: 100%;
    height: 100%;
    display: none;
    @media screen and (max-width: $lg) {
      display: block;
    }
    .slider-cont{
      padding: 0;
      li{
        img{
          width: 250px;
          display: block;
          margin: auto;
        }
      }
    }
  }
  .slick-dots{
    display: flex;
    margin: 50px auto 0 auto;
    width: 100px;
    padding: 0;
    justify-content: space-between;
    li{
      cursor: pointer;
    }
    button{
      cursor: pointer;
      font-size: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: gray;
    }
  }

  .button{
    margin: 0;
  }
  .right{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media screen and (max-width: $lg) {
      width: 100%;
    }
    p{
      font-family: 'BlinkerExtraLight';
      margin: 15px 0;
    }
  }
}

.section7{
  background-color: $purple;
  display: flex;
  align-items: center;
  width: col(18);
  padding: col(1);
  height: 100vh;
  position: relative;
  @media screen and (max-width: $lap) {
    flex-direction: column;
    height: initial;
  }
  .fondo{
    position: absolute;
    left: -10%;
    top: 0;
    width: 650px;
  }
  .left{
    width: col(6);
    @media screen and (max-width: $lap) {
      width: col(18);
      margin-bottom: 50px;
    }
    h1{
      max-width: 550px;
      @media screen and (max-width: $lap) {
        text-align: center;
        max-width: initial;
      }
    }
  }
  .right{
    width: col(12);
    @media screen and (max-width: $lap) {
      width: col(18);
    }
    ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0;
      @media screen and (max-width: $lg) {
        flex-direction: column;
        align-items: center;
      }
      li{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @media screen and (max-width: $lg) {
          margin-bottom: 50px;
        }
        .switch{
          width: 150px;
          height: 30px;
          border-radius: 50px;
          display: flex;
          padding: 0;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 25px;
          position: relative;
          border: 1px solid $violet;
          border-radius: 20px;
          cursor: pointer;

          .sd{
            transition: all .5s ease;
            position: absolute;
            left: 0;
            width: 75px;
            height: 30px;
            background-color: gray;
            border-radius: 50px 0 0 50px;
            &.active{
              left: 50%;
              background-color: $violet;
              border-radius: 0 50px 50px 0;
            }
          }
          .onoff{
            &.off{
              z-index: 1;
              width: 50%;
              border-radius: 50px 0 0 50px;
            }
            &.on{
              z-index: 1;

              width: 50%;
              border-radius: 0 50px 50px 0;
            }
          }
        }
        .cont{
          border: 1px solid $violet;
          border-radius: 20px;
          padding: 25px;
          width: 300px;
          height: 220px;
          @media screen and (max-width: $md) {
            height: auto;
          }
          h2{
            color: $violet;
            @include h2($violet,.8);
            text-transform: capitalize;
            margin-bottom: 20px;
          }
          b{
            color: $violet;
          }
          p{
            margin: auto;
            font-family: 'BlinkerExtraLight';
            max-width: 200px;
            line-height: initial;
          }
        }

      }
    }
    .light{
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      &.active{
        opacity: 1;
      }
    }
    .base{
      margin-top: 0;
      margin-bottom: 20px;
      width: 250px;
    }
    .avatar{
      margin-top: 30px;
      opacity: 0;
      transition: all .5s ease;
      z-index: 1;
      @media screen and (max-width: $lap) {
        width:300px;
      }
      @media screen and (max-width: $md) {
        margin-top: 0px;
      }
      &.active{
        opacity: 1;
        transition: all .5s ease;
        transition-delay: .2s;
      }
    }
  }
}

.section88{
  overflow: hidden;
  width: col(18);
  height: 100vh;
  .container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    h1{
      margin-top: 100px;
      text-align: center;
    }
    .fondo{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    .button{
      bottom: 15px;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }

  .entire-content{
    width: 200px;
    @media screen and (max-width: $lap) {
      width: 130px;
    }
  }
}

.section9{
  width: col(18);
  padding: col(1) 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  h1{
    text-align: center;
  }
  background-color: $purple;
  .logobarra{
    position: relative;
    width: 100%;
    height: 100%;
    .logo{
      position: absolute;
      width: 200px;
      left: 20%;
      top: 30%;
      @media screen and (max-width: $lap) {
        left: 10%;
      }
      @media screen and (max-width: $lg) {
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    .barra{
      top: 61px;
      position: absolute;
      width: 100%;
      height: 70px;
      background-color: $violet;
      filter: blur(14px);
      opacity: .3;
    }
  }

  .faq{
    width: col(6);
    padding: 0;
    @media screen and (max-width: $lap) {
      width: col(10);
    }
    @media screen and (max-width: $lg) {
      margin-top: 200px;
    }
    li{
      border: 1px solid $violet;
      margin: 10px 0;
      padding: 15px;
      border-radius: 10px;
      //height: 70px;
      max-height: 70px;
      overflow: hidden;
      cursor: pointer;
      transition: max-height 0.5s ease;
      position: relative;
      @media screen and (max-width: $lap) {
        max-height: 80px;
      }
      &::after{
        content: "+";
        display: block;
        position: absolute;
        right: 20px;
        top: 23px;
        font-size: 20px;
        color: white;
        transition: all 0.5s ease;
      }
      &.active{
        //height: auto;
        max-height: 300px;
        transition: max-height 0.5s ease;
        &::after{
            transform: rotate(45deg);
            transition: all 0.5s ease;
        }
      }

      p{
        text-align: center;
        color: $violet;
      }
      >div{
        border-top: solid 1px $violet;
        margin-top: 20px;
        p{
          color: $white;
          font-family: 'BlinkerExtraLight';
        }
      }
    }
  }
}

.section10{
  width: col(18);
  background-color: #E2E2E2;
  padding: col(1) 0;
  @media screen and (max-width: $md) {
    padding: col(1);
  }
  h1{
    margin: 0px 0 100px 0;
    color: $black;
    text-align: center;
  }
  .memm1,.memm2,.memm3,.memm5,.memm6,.memm7,.memm8{
    flex-direction: column;
    align-items: center;
    .left{
      display: flex;
      justify-content: center;
      position: relative;
      @media screen and (max-width: $md) {
        width: 100% !important;
      }
      .logo{
        width: 50px !important;
        height: 50px !important;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .right{
      text-align: center;
    }
    h2{
      margin-top: 20px;
      color: $black;
      text-transform: capitalize;
    }
  }
  .memm4{
    @media screen and (max-width: $md) {
      flex-direction: column;
    }
    .right{
      position: relative;
      @media screen and (max-width: $md) {
        width: 100% !important;
      }
    }
    .left{
      @media screen and (max-width: $md) {
        width: 100% !important;
        img{
          display: block;
          margin: 0 auto 50px auto;
        }
      }
    }

    .logo{
      width: 50px !important;
      height: 50px !important;
      position: absolute;
      right: -70px;
      top: 40%;
      @media screen and (max-width: $md) {
        right: 0;
      top: 0;
      }
    }
  }
  #memberinfo{
    width: col(9);
    margin: auto;
    display: none;
    @media screen and (max-width: $lap) {
      width: col(16);
      margin: col(1);
    }
    &.active{
      display: flex;
    }
    .left{
      width: col(9);
      @media screen and (max-width: $lap) {
        width: col(12);
      }
      img{
        width: 300px;
        height: 300px;
        display: block;
        margin: auto;
        @media screen and (max-width: $lap) {
          width: 200px;
          height: 200px;
        }
      }
    }
    .right{
      width: col(9);
      @media screen and (max-width: $lap) {
        width: col(12);
      }
      p{
        font-family: 'BlinkerExtraLight';
        color: $black;
      }
    }
  }
  .bottom{
    margin: 100px 0 0 0;
    padding: 0 25px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: $lg) {
      grid-template-columns: repeat(4,1fr);
      gap: 30px;
    }
    @media screen and (max-width: $md) {
      grid-template-columns: repeat(3,1fr);
    }
    @media screen and (max-width: $sm) {
      grid-template-columns: repeat(2,1fr);
    }

    &::before{
      position: absolute;
      top: 0;
      content: "";
      display: block;
      background-color: $violet;
      left: 0;
      width: 100%;
      height: 40px;

    }
    &::after{
      display: none;
      position: absolute;
      bottom: 0;
      content: "";
      background-color: $violet;
      left: 0;
      width: 100%;
      height: 50px;
      @media screen and (max-width: $lg) {
        display: block;
      }
    }
    .member{
      display: flex;
      flex-direction: column;
      align-items: center;
      &:nth-last-child(-n+4){
        @media screen and (max-width: $lg) {
         flex-direction: column-reverse;
         p{
          margin-top: 30px;
          padding: 5px;
         }
        }
      }
      p{
        background-color: $violet;
        color: $white;
        text-align: center;
        position: relative;
        z-index: 1;
        @media screen and (max-width: $max) {
          @include p($white,.9)
        }
        @media screen and (max-width: $lap) {
          @include p($white,.6)
        }
      }
      img{
        margin-top: 30px;
        width: 120px;
        cursor: pointer;
      }
    }
  }
}

/* 3D Slideshow */

#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 600px;
  width: 70%;
  box-sizing: border-box;
}

.entire-content {
  margin: auto;
  //width: 190px;
  width: 300px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

/* .content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
} */

.content-carrousel figure {
  width: 90%;
  //height: 120px;
  //overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
} .content-carrousel figure:nth-child(2) {
  transform: rotateY(120deg) translateZ(300px);
} .content-carrousel figure:nth-child(3) {
  transform: rotateY(240deg) translateZ(300px);
}

.shadow {
   //position: absolute;
   //box-shadow: 0px 0px 20px 0px #000;
   //border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.1);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}


