@font-face {
  font-family: 'BlinkerBold';
  src: url("../fonts/BlinkerBold.ttf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'BlinkerExtraLight';
  src: url("../fonts/BlinkerExtraLight.ttf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'BlinkerSemiBold';
  src: url("../fonts/BlinkerSemiBold.ttf");
  /* IE9 Compat Modes */
}

h1 {
  font-family: "BlinkerBold";
  font-size: 3.75rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: BlinkerSemiBold;
  font-size: 2.25rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 850px) {
  h2 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: museo700;
  font-size: 2.5rem;
  color: initial;
  margin: 0;
  font-weight: normal;
}

@media screen and (max-width: 850px) {
  h3 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  font-family: "BlinkerSemiBold";
  font-size: 1.25rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  color: #ffffff;
}

.button {
  background: #f93df9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-20%, #f93df9), color-stop(85%, #010628));
  background: linear-gradient(0deg, #f93df9 -20%, #010628 85%);
  font-family: "BlinkerBold";
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #F93DF9;
  margin: auto;
  cursor: pointer;
  display: block;
  text-align: center;
}

.button:hover {
  background: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:active {
  background: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text {
  overflow: hidden;
}

.underline {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.underline .underlineChild {
  display: block;
  width: 0;
  height: 15px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

@media screen and (max-width: 850px) {
  .underline .underlineChild {
    height: 8px;
    bottom: 2px;
  }
}

body {
  margin: 0;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.nav.contactnav {
  background-color: #ffffff;
}

.nav.contactnav .inner .left .logo {
  width: 150px;
  background-color: red;
}

.nav.contactnav .inner .left .logo img {
  width: 150px;
}

.nav.contactnav .inner .right p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #1d1d1b;
}

.nav.contactnav .inner .right p:after {
  background: #1d1d1b;
}

.nav.contactnav .inner .right p:hover:before {
  background: #1d1d1b;
}

.nav.contactnav .inner .right p:hover:after {
  background: transparent;
}

@media screen and (max-width: 850px) {
  .nav {
    display: none;
  }
}

.nav .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  height: 100px;
}

.nav .inner .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .inner .right .logo {
  width: 50px;
  margin-right: 100px;
}

.nav .inner .right p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 25px;
  color: #ffffff;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .nav .inner .right p {
    margin: 0 10px;
  }
}

.nav .inner .right p:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  -webkit-transition: width 0s ease, background 0.5s ease;
  transition: width 0s ease, background 0.5s ease;
}

.nav .inner .right p:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #ffffff;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.nav .inner .right p:hover:before {
  width: 100%;
  background: #ffffff;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.nav .inner .right p:hover:after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

.nav.activo {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #ffffff;
}

.nav.activo .inner .left .logo svg .st0 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #010628;
}

.nav.activo .inner .right p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #1d1d1b;
}

.nav.activo .inner .right p:after {
  background: #1d1d1b;
}

.nav.activo .inner .right p:hover:before {
  background: #1d1d1b;
}

.nav.activo .inner .right p:hover:after {
  background: transparent;
}

.responsivemenu {
  display: none;
}

@media screen and (max-width: 850px) {
  .responsivemenu {
    display: block;
  }
}

.burguer {
  display: none;
  -webkit-box-shadow: -1px 1px 20px -9px rgba(0, 0, 0, 0.69);
          box-shadow: -1px 1px 20px -9px rgba(0, 0, 0, 0.69);
  position: fixed;
  right: 10%;
  top: 5%;
  z-index: 99999;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

@media screen and (max-width: 850px) {
  .burguer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burguer .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 2rem;
  height: 2rem;
}

.burguer .cont > div {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 30px;
  height: 2px;
  background-color: #010628;
  -webkit-transform-origin: 1px center;
          transform-origin: 1px center;
}

.burguer .cont > div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burguer .cont > div:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.burguer .cont > div:nth-child(3) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burguer.active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.burguer.active .cont > div:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burguer.active .cont > div:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.burguer.active .cont > div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu {
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 99998;
  width: 100vw;
  height: 100vh;
  z-index: 99998;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu.active {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.menu.active > div p {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
}

.menu > div {
  text-align: center;
}

.menu > div p {
  margin-bottom: 30px;
  opacity: 0;
}

.section1 {
  width: 100%;
  padding: 0 5.55556%;
  height: 100vh;
  padding-top: 100px;
  background-color: #010628;
}

.section1 .companyLogo {
  width: 150px;
}

.section1 .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .top .left {
  width: 50%;
}

.section1 .top .left h1:nth-of-type(1) {
  font-family: "BlinkerBold";
  font-size: 3rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

@media screen and (max-width: 850px) {
  .section1 .top .left h1:nth-of-type(1) {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 580px) {
  .section1 .top .left h1:nth-of-type(1) {
    font-size: 1.2rem;
  }
}

.section1 .top .left h1:nth-of-type(2) {
  font-family: "BlinkerBold";
  font-size: 4.125rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

@media screen and (max-width: 850px) {
  .section1 .top .left h1:nth-of-type(2) {
    font-size: 1.925rem;
  }
}

@media screen and (max-width: 580px) {
  .section1 .top .left h1:nth-of-type(2) {
    font-size: 1.65rem;
  }
}

.section1 .top .left h2:nth-of-type(1) {
  font-family: BlinkerSemiBold;
  font-size: 5.175rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 850px) {
  .section1 .top .left h2:nth-of-type(1) {
    font-size: 4.025rem;
  }
}

@media screen and (max-width: 580px) {
  .section1 .top .left h2:nth-of-type(1) {
    font-size: 3.45rem;
  }
}

.section1 .top .left h2:nth-of-type(2) {
  font-family: BlinkerSemiBold;
  font-size: 5.175rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 850px) {
  .section1 .top .left h2:nth-of-type(2) {
    font-size: 4.025rem;
  }
}

@media screen and (max-width: 580px) {
  .section1 .top .left h2:nth-of-type(2) {
    font-size: 3.45rem;
  }
}

.section1 .top .button {
  margin: 30px 0 0 0;
}

.section1 .top .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .top .right .logoavtrz {
  width: 250px;
}

.section1 .top .right .avatares {
  width: 600px;
}

.section1 .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.section1 .bottom .left {
  text-align: center;
}

.section1 .bottom .left .pin {
  width: 50px;
}

.section1 .bottom .right {
  width: 40%;
}

.section1 .bottom .right .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section1 .bottom .right .text > div {
  width: 10px;
  height: 3px;
  background-color: #F93DF9;
}

.section1 .bottom .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.section1 .bottom .companies img {
  width: 100px;
}

.section1 .bottom .companies .apple {
  width: 50px;
}

.section2 {
  width: 100%;
  padding: 0 5.55556%;
  height: 100vh;
  padding-top: 100px;
  background-color: #010628;
}

@media screen and (max-width: 850px) {
  .section2 {
    padding-bottom: 0;
  }
}

.section2 h1 {
  text-align: center;
}

.section2 .avatars {
  width: 83.33333%;
  margin: 100px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.section2 .avatars #cursor {
  width: 100px;
  position: absolute;
  bottom: 0;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@-webkit-keyframes cursoranim {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cursoranim {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section2 .avatars .first-image {
  left: 0;
  -webkit-animation: cursoranim .5s linear 1s infinite;
          animation: cursoranim .5s linear 1s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.section2 .avatars .second-image {
  left: 50%;
  -webkit-animation: cursoranim .5s linear 1s infinite;
          animation: cursoranim .5s linear 1s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.section2 .avatars .third-image {
  left: 100%;
  -webkit-animation: cursoranim .5s linear 1s infinite;
          animation: cursoranim .5s linear 1s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.section2 .avatars > div {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.section2 .avatars > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.section2 .avatars > div img {
  width: 350px;
}

.section2 .avatars > div p {
  text-align: center;
  margin-top: -50px !important;
  font-family: "BlinkerSemiBold";
  font-size: 1.625rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
}

.section2 .avatars > div .pleca {
  width: 70%;
  margin: 50px auto 0 auto;
  display: block;
}

.section3 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #010628;
  overflow: hidden;
}

.section3 h1 {
  text-align: center;
  margin-bottom: 50px;
}

.section3 .fondo {
  position: absolute;
  right: -25%;
  top: -10%;
  width: 1000px;
}

.section3 > div {
  background-color: #010628;
  width: 900px;
  height: 600px;
  margin: auto;
  position: relative;
}

.section3 > div .svgcont {
  position: absolute;
  width: 240px;
}

.section3 > div .svgcont.svg1 {
  left: 190px;
  top: 110px;
}

.section3 > div .svgcont.svg2 {
  right: 210px;
  top: 130px;
}

.section3 > div .svgcont.svg3 {
  right: 210px;
  bottom: 170px;
}

.section3 > div .svgcont.svg4 {
  right: 170px;
  top: 90px;
}

.section3 > div .svgcont polyline, .section3 > div .svgcont line {
  stroke-dasharray: 3;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

.section3 > div .base {
  width: 270px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.section3 > div .barra {
  width: 13px;
  position: absolute;
}

.section3 > div .barra.barraleft {
  left: 0;
}

.section3 > div .barra.barraright {
  right: 0;
}

.section3 > div .cuernoder {
  position: absolute;
  right: 150px;
  width: 70px;
  top: 10px;
}

.section3 > div .cuernoizq {
  position: absolute;
  left: 140px;
  width: 60px;
  top: 120px;
}

.section3 > div .ojos {
  position: absolute;
  right: 190px;
  width: 70px;
  top: 240px;
}

.section3 > div .boca {
  position: absolute;
  right: 210px;
  width: 30px;
  bottom: 250px;
}

/********************* HOME ******************/
/********************* NOSOTROS ******************/
.empresa {
  margin-top: 150px;
}

.empresa #inner {
  width: 66.66667%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 600px;
  background-image: url(../img/slider4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .empresa #inner {
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 850px) {
  .empresa #inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    height: auto;
    border-radius: 0;
  }
}

.empresa #inner .consumidores {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.empresa #inner .consumidores:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-image: url(../img/slider5.jpg);
}

.empresa #inner .voluntarios {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.empresa #inner .voluntarios:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-image: url(../img/slider6.jpg);
}

.empresa #inner .tab {
  padding: 5.55556%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.empresa #inner .tab:first-of-type {
  border-right: solid 1px #ffffff;
}

.empresa #inner .tab h2 {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.empresa #inner .tab p,
.empresa #inner .tab h3 {
  color: #ffffff;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.empresa #inner .tab p {
  margin-bottom: 50px;
  max-width: 350px;
}

.empresa #inner .tab:hover h2 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.empresa #inner .tab:hover p,
.empresa #inner .tab:hover h3 {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.empresa #inner .tab:hover h3::before {
  width: 180px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.objetivos {
  width: 100%;
  margin: 150px auto 150px auto;
}

.objetivos h3 {
  max-width: 700px;
  text-align: center;
  margin: 0 auto 100px auto;
}

.objetivos .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 77.77778%;
  margin: auto;
}

@media screen and (max-width: 1400px) {
  .objetivos .cont {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .objetivos .cont {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .objetivos .cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.objetivos .cont .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

@media screen and (max-width: 1200px) {
  .objetivos .cont .icon {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 850px) {
  .objetivos .cont .icon {
    margin-bottom: 25px;
  }
}

.objetivos .cont .icon img {
  width: 200px;
}

.objetivos .cont .icon h4 {
  color: #010628;
  margin-top: 25px;
  text-align: center;
  max-width: 300px;
}

.objetivos .cont .icon .svg-cont svg {
  width: 200px;
}

@media screen and (max-width: 1400px) {
  .objetivos .cont .icon .svg-cont svg {
    width: 175px;
  }
}

.timeline {
  max-width: 1600px;
  margin: auto;
}

@media screen and (max-width: 1600px) {
  .timeline {
    width: 88.88889%;
    margin: 5.55556%;
  }
}

.timeline h3 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.timeline .container {
  position: relative;
}

.timeline .container .row {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.timeline .container .left {
  padding: 25px;
  width: 44.44444%;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 850px) {
  .timeline .container .left {
    width: 100%;
    z-index: 9999;
  }
}

.timeline .container .left h2 {
  margin-bottom: 25px;
}

.timeline .container .left h2,
.timeline .container .left p {
  color: #010628;
}

.timeline .container .left p {
  margin-top: 25px;
}

.timeline .container .triangleleft {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid #010628;
  position: absolute;
  bottom: 40%;
  right: 0;
  left: -40px;
  margin: auto;
}

.timeline .container .triangleright {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #010628;
  position: absolute;
  bottom: 40%;
  right: -40px;
  left: 0;
  margin: auto;
}

.timeline .container .right {
  width: 44.44444%;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .timeline .container .right {
    display: none;
  }
}

.timeline .container .right img {
  border-radius: 10px;
}

.timeline .container .line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #010628;
  width: 10px;
  height: 100%;
}

/********************* PRODUCTORES ******************/
.testimonios {
  width: 77.77778%;
  margin: 150px auto 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1600px) {
  .testimonios {
    width: 88.88889%;
  }
}

@media screen and (max-width: 1200px) {
  .testimonios {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonios .testimonio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .testimonios .testimonio {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .testimonios .testimonio img {
    width: 200px;
  }
}

.testimonios .testimonio p {
  margin-top: 50px;
  max-width: 400px;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .testimonios .testimonio p {
    max-width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .testimonios .testimonio p {
    margin-top: 10px;
  }
}

.preferencia {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5.55556%;
  padding-bottom: 16.66667%;
}

@media screen and (max-width: 1200px) {
  .preferencia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.preferencia .left,
.preferencia .right {
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .preferencia .left,
  .preferencia .right {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .preferencia .left {
    margin-bottom: 50px;
  }
}

.preferencia p {
  max-width: 650px;
}

@media screen and (max-width: 1600px) {
  .preferencia p {
    max-width: 550px;
  }
}

@media screen and (max-width: 1200px) {
  .preferencia p {
    max-width: initial;
  }
}

.preferencia h2,
.preferencia p {
  color: #010628;
}

.preferencia h2 {
  text-transform: initial;
  margin-bottom: 25px;
}

.slider-productores {
  margin-top: -150px;
}

@media screen and (max-width: 1200px) {
  .slider-productores {
    margin-top: 0px;
  }
}

.slider-productores .slider-prod {
  position: relative;
}

.slider-productores .slider-prod .slider .container {
  width: 88.88889%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1400px) {
  .slider-productores .slider-prod .slider .container {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .slider-productores .slider-prod .slider .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1400px) {
  .slider-productores .slider-prod .slider .container .left {
    width: 50%;
  }
}

@media screen and (max-width: 580px) {
  .slider-productores .slider-prod .slider .container .left {
    width: 100%;
    padding: 5.55556%;
  }
}

@media screen and (max-width: 1600px) {
  .slider-productores .slider-prod .slider .container .left img {
    width: 80%;
  }
}

@media screen and (max-width: 850px) {
  .slider-productores .slider-prod .slider .container .left img {
    width: 100%;
  }
}

.slider-productores .slider-prod .slider .container .right {
  width: 44.44444%;
  padding: 5.55556%;
}

@media screen and (max-width: 580px) {
  .slider-productores .slider-prod .slider .container .right {
    width: 100%;
    padding: 5.55556%;
  }
}

.slider-productores .slider-prod .slider .container .right h2 {
  margin-bottom: 25px;
}

@media screen and (max-width: 580px) {
  .slider-productores .slider-prod .slider .container .right h2 {
    max-width: 200px;
  }
}

.slider-productores .slider-prod .slick-prev {
  background-color: #010628;
  position: absolute;
  right: 40%;
  bottom: 20%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-image: url(../img/flechasola2.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  z-index: 9999;
}

@media screen and (max-width: 1200px) {
  .slider-productores .slider-prod .slick-prev {
    right: 35%;
    width: 50px;
    height: 50px;
    background-size: 40px;
    bottom: 0;
  }
}

@media screen and (max-width: 580px) {
  .slider-productores .slider-prod .slick-prev {
    width: 40px;
    height: 40px;
    right: 20%;
    top: 2%;
    background-size: 30px;
  }
}

.slider-productores .slider-prod .slick-next {
  background-color: #010628;
  position: absolute;
  right: 33%;
  bottom: 20%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-image: url(../img/flechasola.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
}

@media screen and (max-width: 1200px) {
  .slider-productores .slider-prod .slick-next {
    right: 23%;
    width: 50px;
    height: 50px;
    background-size: 40px;
    bottom: 0;
  }
}

@media screen and (max-width: 580px) {
  .slider-productores .slider-prod .slick-next {
    width: 40px;
    height: 40px;
    right: 5%;
    top: 2%;
    background-size: 30px;
  }
}

/********************* CONSUMIDORES ****************/
.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 850px) {
  .intro-section {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro-section.productores .right {
  background-image: url(../img/productores2.jpg);
}

.intro-section.nosotros .right {
  background-image: url(../img/TAP61.jpg);
}

.intro-section.consumidores .right {
  background-image: url(../img/consumidores2.jpg);
}

.intro-section.voluntarios1 .right {
  background-image: url(../img/voluntarios2.jpg);
}

.intro-section .left {
  width: 44.44444%;
  background-image: url(../img/pattern-frutas1.png);
  background-attachment: fixed;
}

@media screen and (max-width: 850px) {
  .intro-section .left {
    width: 100%;
    height: 50vh;
  }
}

.intro-section .left .cont {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 44.44444%;
  background-color: #ffffff;
  padding: 100px;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(61, 61, 61, 0.2);
          box-shadow: 0px 0px 15px 2px rgba(61, 61, 61, 0.2);
}

.intro-section .left .cont .button {
  margin: 0;
  width: 200px;
}

@media screen and (max-width: 1600px) {
  .intro-section .left .cont {
    width: 66.66667%;
    padding: 50px;
  }
}

@media screen and (max-width: 1400px) {
  .intro-section .left .cont {
    padding: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .intro-section .left .cont {
    padding: 5.55556%;
  }
}

@media screen and (max-width: 850px) {
  .intro-section .left .cont {
    width: 88.88889%;
    left: 5.55556%;
  }
}

.intro-section .left .cont p,
.intro-section .left .cont h2 {
  color: #1d1d1b;
}

.intro-section .left .cont p {
  max-width: 900px;
  margin: auto;
  margin-bottom: 25px;
}

.intro-section .left .cont h2 {
  margin-bottom: 25px;
  text-transform: initial;
}

.intro-section .left .cont h4 {
  margin: 25px 0;
  word-wrap: break-word;
}

.intro-section .right {
  width: 55.55556%;
  background-size: cover;
}

@media screen and (max-width: 850px) {
  .intro-section .right {
    height: 50vh;
    width: 100%;
    background-attachment: fixed;
  }
}

.pasos {
  background: url(../img/pattern-frutas.png), #010628;
  background-attachment: fixed;
  padding: 0 5.55556% 0 5.55556%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .pasos {
    padding: 0;
  }
}

.pasos > div {
  width: 66.66667%;
  background-color: #010628;
  padding: 5.55556% 5.55556% 11.11111% 5.55556%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .pasos > div {
    width: 100%;
  }
}

.pasos > div h2,
.pasos > div p {
  color: #ffffff;
  margin-bottom: 25px;
}

.consumidores3 {
  margin-top: -150px;
  width: 100%;
  padding-left: 5.55556%;
  padding-right: 5.55556%;
}

@media screen and (max-width: 1600px) {
  .consumidores3 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .consumidores3 {
    margin-top: -100px;
  }
}

@media screen and (max-width: 850px) {
  .consumidores3 {
    margin-top: -50px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.consumidores3 .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1400px) {
  .consumidores3 .container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .consumidores3 .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.consumidores3 .dat {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 350px;
  height: 500px;
  overflow: hidden;
  padding: 25px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.consumidores3 .dat:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

@media screen and (max-width: 1400px) {
  .consumidores3 .dat {
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 850px) {
  .consumidores3 .dat {
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .consumidores3 .dat {
    height: auto;
  }
}

.consumidores3 .dat .icono {
  width: 150px;
  margin: auto;
}

@media screen and (max-width: 1400px) {
  .consumidores3 .dat .icono {
    width: 100px;
  }
}

.consumidores3 .dat.green {
  background-color: #c0dfc3;
}

.consumidores3 .dat.yellow {
  background-color: #d5d0bd;
}

.consumidores3 .dat.pink {
  background-color: #d3bec6;
}

.consumidores3 .dat.purple {
  background-color: #cabeda;
}

.consumidores3 .dat .border {
  height: 100%;
  padding: 25px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23262580FF' stroke-width='8' stroke-dasharray='10%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 20px;
}

@media screen and (max-width: 1400px) {
  .consumidores3 h2 {
    font-family: BlinkerSemiBold;
    font-size: 1.8rem;
    color: initial;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1400px) and (max-width: 850px) {
  .consumidores3 h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1400px) and (max-width: 580px) {
  .consumidores3 h2 {
    font-size: 1.2rem;
  }
}

.consumidores3 p,
.consumidores3 h2 {
  color: #010628;
  text-align: center;
}

.consumidores3 p {
  margin-top: 15px;
  max-width: 360px;
}

@media screen and (max-width: 1200px) {
  .consumidores3 p {
    max-width: initial;
  }
}

/********************* VOLUNTARIOS ****************/
.voluntarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .voluntarios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.voluntarios .left {
  width: 50%;
  padding: 5.55556%;
}

@media screen and (max-width: 1200px) {
  .voluntarios .left {
    width: 100%;
  }
}

.voluntarios .left h2 {
  text-transform: initial;
  margin-bottom: 50px;
}

.voluntarios .left p {
  max-width: 600px;
}

.voluntarios .left p:first-of-type {
  margin-bottom: 25px;
}

.voluntarios .left h4 {
  text-transform: initial;
  margin-bottom: 25px;
}

@media screen and (max-width: 850px) {
  .voluntarios .left h4 {
    word-break: break-all;
  }
}

.voluntarios .left .button {
  margin: initial;
  width: 200px;
}

.voluntarios .right {
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .voluntarios .right {
    width: 100%;
  }
}

.carreras {
  width: 88.88889%;
  margin: 5.55556%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.carreras h2 {
  text-transform: initial;
  max-width: 500px;
  margin-bottom: 100px;
}

.carreras ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 100px;
}

@media screen and (max-width: 1200px) {
  .carreras ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .carreras ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.carreras ul li {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.carreras ul li:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 40%;
  bottom: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.carreras ul li:hover img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 120px;
}

.carreras ul li:hover:before {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.carreras ul li img {
  width: 100px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.carreras ul li h4 {
  margin-top: 15px;
  text-align: center;
}

/********************* Contacto ****************/
.contacto {
  width: 88.88889%;
  margin: 5.55556%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1600px) {
  .contacto {
    width: 88.88889%;
  }
}

@media screen and (max-width: 850px) {
  .contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 88.88889%;
  }
}

.contacto h2 {
  margin-bottom: 40px;
  text-transform: initial;
  max-width: 450px;
}

@media screen and (max-width: 1200px) {
  .contacto .left {
    width: 44.44444%;
  }
}

@media screen and (max-width: 850px) {
  .contacto .left {
    width: 94.44444%;
  }
}

.contacto .left form > div {
  margin-bottom: 25px;
}

.contacto .left form > div input {
  width: 100%;
  padding: 25px 25px 25px 0;
  border: none;
  border-bottom: solid 2px #010628;
}

.contacto .left form a {
  margin-top: 50px;
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  .contacto .right {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {
  .contacto .right {
    width: 100%;
    margin-top: 50px;
  }
}

.contacto .right .img-container {
  position: relative;
}

.contacto .right .img-container .mask {
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.contacto .right .img-container img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contactoancla {
  position: absolute;
  top: -100px;
  left: 0;
}

.contacto1 {
  width: 88.88889%;
  margin: 5.55556%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1200px) {
  .contacto1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 850px) {
  .contacto1 {
    padding: 5.55556%;
  }
}

.contacto1 .left {
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .contacto1 .left {
    width: 100%;
  }
}

.contacto1 .left h1 {
  margin-bottom: 50px;
}

@media screen and (max-width: 850px) {
  .contacto1 .left h1 {
    margin-top: 50px;
  }
}

.contacto1 .right {
  width: 38.88889%;
}

@media screen and (max-width: 1400px) {
  .contacto1 .right {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .contacto1 .right {
    width: 100%;
  }
}

.contacto1 .right .info {
  border-radius: 55px 55px 55px 0;
}

@media screen and (max-width: 1200px) {
  .contacto1 .right .info {
    border-radius: 0;
  }
}

.contacto1 .right .info > div {
  margin-bottom: 25px;
}

.contacto1 .right .info h2,
.contacto1 .right .info p {
  color: #010628;
}

.contacto1 .right .info p {
  word-break: break-all;
}

.contacto1 .right .info .border {
  border-bottom: solid 1px #010628;
  padding-bottom: 25px;
}

.contacto1 .right .info h2 {
  padding-bottom: 25px;
  text-transform: initial;
  border-bottom: solid 1px #010628;
}

.contacto1 .right .info .redes {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto1 .right .info .redes .red {
  margin-right: 25px;
  width: 40px;
}

.contacto1 .right .info .redes .red svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #010628;
}

.contacto1 .right .info .redes .red svg:hover path {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  fill: #1d1d1b;
}

footer {
  width: 100%;
  background-color: #1d1d1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  position: relative;
}

footer p {
  font-family: "BlinkerSemiBold";
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
}

footer .left {
  width: 50%;
}

footer .right {
  width: 50%;
}

footer .redes {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

footer .redes .red {
  width: 40px;
}

footer .redes .red svg path {
  fill: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .redes .red svg:hover path {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.anim-cont {
  overflow: hidden;
}

.anim-cont .anim-title {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
/*# sourceMappingURL=app.css.map */