@font-face {
  font-family: 'BlinkerBold';
  src: url("../fonts/BlinkerBold.ttf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'BlinkerExtraLight';
  src: url("../fonts/BlinkerExtraLight.ttf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'BlinkerSemiBold';
  src: url("../fonts/BlinkerSemiBold.ttf");
  /* IE9 Compat Modes */
}

h1 {
  font-family: "BlinkerBold";
  font-size: 3.75rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 1.875rem;
  }
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: BlinkerSemiBold;
  font-size: 2.25rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  h2 {
    font-size: 1.875rem;
  }
}

@media screen and (max-width: 850px) {
  h2 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: museo700;
  font-size: 2.5rem;
  color: initial;
  margin: 0;
  font-weight: normal;
}

@media screen and (max-width: 850px) {
  h3 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  font-family: "BlinkerSemiBold";
  font-size: 1.25rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  color: #ffffff;
}

@media screen and (max-width: 850px) {
  p {
    font-size: 1rem;
  }
}

.button {
  background: #f93df9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-20%, #f93df9), color-stop(85%, #010628));
  background: linear-gradient(0deg, #f93df9 -20%, #010628 85%);
  font-family: "BlinkerBold";
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #F93DF9;
  margin: auto;
  cursor: pointer;
  display: block;
  text-align: center;
}

.button:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-10%, #f93df9), color-stop(85%, #010628));
  background: linear-gradient(0deg, #f93df9 -10%, #010628 85%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text {
  overflow: hidden;
}

.underline {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.underline .underlineChild {
  display: block;
  width: 0;
  height: 15px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

@media screen and (max-width: 850px) {
  .underline .underlineChild {
    height: 8px;
    bottom: 2px;
  }
}

body {
  margin: 0;
  position: relative;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 0 5.55556%;
}

.nav.scrolldown {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav.contactnav {
  background-color: #ffffff;
}

.nav.contactnav .inner .left .logo {
  width: 150px;
}

.nav.contactnav .inner .left .logo img {
  width: 150px;
}

.nav.contactnav .inner .right p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #1d1d1b;
}

.nav.contactnav .inner .right p:after {
  background: #1d1d1b;
}

.nav.contactnav .inner .right p:hover:before {
  background: #1d1d1b;
}

.nav.contactnav .inner .right p:hover:after {
  background: transparent;
}

@media screen and (max-width: 850px) {
  .nav {
    display: none;
  }
}

.nav .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  height: 100px;
}

.nav .inner .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .inner .right .logo {
  width: 50px;
  margin-right: 100px;
}

.nav .inner .right p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 25px;
  color: #ffffff;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .nav .inner .right p {
    margin: 0 10px;
  }
}

.nav .inner .right p:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  -webkit-transition: width 0s ease, background 0.5s ease;
  transition: width 0s ease, background 0.5s ease;
}

.nav .inner .right p:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #ffffff;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.nav .inner .right p:hover:before {
  width: 100%;
  background: #ffffff;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.nav .inner .right p:hover:after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

.nav.activo {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: transparent;
}

.nav.activo .inner .left .logo svg .st0 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #010628;
}

.nav.activo .inner .right p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ffffff;
}

.nav.activo .inner .right p:after {
  background: #ffffff;
}

.nav.activo .inner .right p:hover:before {
  background: #ffffff;
}

.nav.activo .inner .right p:hover:after {
  background: transparent;
}

.responsivemenu {
  display: none;
}

@media screen and (max-width: 850px) {
  .responsivemenu {
    display: block;
  }
}

.burguer {
  display: none;
  -webkit-box-shadow: -1px 1px 20px -9px rgba(0, 0, 0, 0.69);
          box-shadow: -1px 1px 20px -9px rgba(0, 0, 0, 0.69);
  position: fixed;
  right: 10%;
  top: 5%;
  z-index: 99999;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

@media screen and (max-width: 850px) {
  .burguer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burguer .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 2rem;
  height: 2rem;
}

.burguer .cont > div {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 30px;
  height: 2px;
  background-color: #010628;
  -webkit-transform-origin: 1px center;
          transform-origin: 1px center;
}

.burguer .cont > div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burguer .cont > div:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.burguer .cont > div:nth-child(3) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burguer.active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.burguer.active .cont > div:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burguer.active .cont > div:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.burguer.active .cont > div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu {
  position: fixed;
  right: 0%;
  top: 0%;
  z-index: 99998;
  width: 50vw;
  height: 100vh;
  z-index: 99998;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #010628;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu.active {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.menu.active > div p {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
}

.menu > div {
  text-align: center;
}

.menu > div p {
  margin-bottom: 30px;
  opacity: 0;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal.active {
  display: block;
}

.modal-content {
  background-color: #ffffff;
  margin: 10% auto 0 auto;
  padding: 25px;
  border-radius: 10px;
  width: 50%;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .modal-content {
    margin: 5% auto 0 auto;
  }
}

@media screen and (max-width: 850px) {
  .modal-content {
    width: 88.88889%;
    margin: 25% auto;
  }
}

.modal-content .close {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 5.55556%;
  right: 5.55556%;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content > p:nth-of-type(1) {
  margin-bottom: 25px;
}

.modal-content > p:nth-of-type(2) {
  margin-top: 25px;
}

.modal-content > p.small {
  font-family: "BlinkerSemiBold";
  font-size: 0.875rem;
  color: #000000;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
}

@media screen and (max-width: 850px) {
  .modal-content > p.small {
    font-size: 0.7rem;
  }
}

.modal-content p, .modal-content h2 {
  text-align: center;
  color: #000000;
}

.modal-content .button {
  margin-top: 25px;
  width: 50%;
  border: none;
}

.modal-content .container {
  margin-top: 25px;
}

.modal-content .container input {
  width: 100%;
}

.sectiontest {
  width: 100%;
  padding: 5.55556%;
  background-color: #010628;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .sectiontest {
    height: auto;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
}

.sectiontest .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectiontest .texto > div {
  width: 10px;
  height: 3px;
  background-color: #F93DF9;
}

.sectiontest .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .sectiontest .companies {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.sectiontest .companies img {
  width: 100px;
}

@media screen and (max-width: 580px) {
  .sectiontest .companies img {
    display: block;
    margin: auto;
  }
}

.sectiontest .companies .apple {
  width: 50px;
}

@media screen and (max-width: 850px) {
  .sectiontest .topleft {
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  .sectiontest .topleft {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.sectiontest .topleft h1:nth-of-type(1) {
  font-family: "BlinkerBold";
  font-size: 3rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

@media screen and (max-width: 1400px) {
  .sectiontest .topleft h1:nth-of-type(1) {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest .topleft h1:nth-of-type(1) {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 580px) {
  .sectiontest .topleft h1:nth-of-type(1) {
    font-size: 1.2rem;
  }
}

.sectiontest .topleft h1:nth-of-type(2) {
  font-family: "BlinkerBold";
  font-size: 4.125rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

@media screen and (max-width: 1400px) {
  .sectiontest .topleft h1:nth-of-type(2) {
    font-size: 2.0625rem;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest .topleft h1:nth-of-type(2) {
    font-size: 1.925rem;
  }
}

@media screen and (max-width: 580px) {
  .sectiontest .topleft h1:nth-of-type(2) {
    font-size: 1.65rem;
  }
}

.sectiontest .topleft h2:nth-of-type(1) {
  font-family: BlinkerSemiBold;
  font-size: 5.175rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 1400px) {
  .sectiontest .topleft h2:nth-of-type(1) {
    font-size: 4.3125rem;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest .topleft h2:nth-of-type(1) {
    font-size: 4.025rem;
  }
}

@media screen and (max-width: 580px) {
  .sectiontest .topleft h2:nth-of-type(1) {
    font-size: 3.45rem;
  }
}

.sectiontest .topleft h2:nth-of-type(2) {
  font-family: BlinkerSemiBold;
  font-size: 5.175rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 1400px) {
  .sectiontest .topleft h2:nth-of-type(2) {
    font-size: 4.3125rem;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest .topleft h2:nth-of-type(2) {
    font-size: 4.025rem;
  }
}

@media screen and (max-width: 580px) {
  .sectiontest .topleft h2:nth-of-type(2) {
    font-size: 3.45rem;
  }
}

.sectiontest .topleft .button {
  background: #73ab3c;
  font-family: "BlinkerBold";
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #F93DF9;
  margin: auto;
  cursor: pointer;
  display: block;
  text-align: center;
  border-color: #8fd050;
  margin: 15px 0 15px 0;
  font-size: 20px;
}

.sectiontest .topleft .button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #5f8d31;
}

.sectiontest .topleft .button:active {
  background: #344d1b;
}

@media screen and (max-width: 850px) {
  .sectiontest .topleft .button {
    margin: 15px auto 15px auto;
  }
}

.sectiontest .topright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  .sectiontest .topright {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.sectiontest .topright .logoavtrz {
  width: 300px;
}

.sectiontest .topright .avatares {
  width: 450px;
}

@media screen and (max-width: 1400px) {
  .sectiontest .topright .avatares {
    width: 450px;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest .topright .avatares {
    width: 400px;
  }
}

.sectiontest .purpleline {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  width: 90vw;
  height: 8px;
  background-color: #F93DF9;
  border-radius: 10px;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .sectiontest .purpleline {
    top: -210px;
    width: 80vw;
  }
}

.sectiontest .bottomleft {
  width: 60%;
  text-align: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1400px) {
  .sectiontest .bottomleft {
    width: 80%;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest .bottomleft {
    width: 100%;
  }
}

.sectiontest .bottomleft .companies {
  width: 350px;
  margin: 20px auto 0 auto;
}

@media screen and (max-width: 850px) {
  .sectiontest .bottomleft .companies {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.sectiontest .bottomleft .austin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectiontest .bottomleft .austin .pin {
  width: 25px;
  margin-right: 15px;
}

.sectiontest .bottomleft p:nth-last-of-type(1) {
  font-family: "BlinkerSemiBold";
  font-size: 1.125rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
}

@media screen and (max-width: 850px) {
  .sectiontest .bottomleft p:nth-last-of-type(1) {
    font-size: 0.9rem;
  }
}

.sectiontest .bottomright {
  width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sectiontest .bottomright .texto {
  margin-bottom: 60px;
}

@media screen and (max-width: 850px) {
  .sectiontest .bottomright .texto {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1400px) {
  .sectiontest .bottomright {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .sectiontest .bottomright {
    -ms-grid-row: 3;
    grid-row: 3;
    margin: 25px 0;
  }
}

.section2 {
  width: 100%;
  padding: 0 5.55556%;
  height: 100vh;
  padding-top: 100px;
  background-color: #010628;
}

@media screen and (max-width: 1400px) {
  .section2 {
    height: auto;
    padding: 5.55556% 0;
  }
}

@media screen and (max-width: 850px) {
  .section2 {
    padding-top: 150px;
  }
}

.section2 h1 {
  text-align: center;
}

.section2 .avatars {
  width: 83.33333%;
  margin: 20px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 850px) {
  .section2 .avatars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section2 .avatars #cursor {
  width: 100px;
  position: absolute;
  bottom: 0;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@-webkit-keyframes cursoranim {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cursoranim {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section2 .avatars .first-image {
  left: 10%;
  -webkit-animation: cursoranim .5s linear 1s infinite;
          animation: cursoranim .5s linear 1s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 850px) {
  .section2 .avatars .first-image {
    left: initial;
    right: 0;
    top: 0;
  }
}

.section2 .avatars .second-image {
  left: 50%;
  -webkit-animation: cursoranim .5s linear 1s infinite;
          animation: cursoranim .5s linear 1s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 850px) {
  .section2 .avatars .second-image {
    left: initial;
    right: 0;
    top: 50%;
  }
}

.section2 .avatars .third-image {
  left: 85%;
  -webkit-animation: cursoranim .5s linear 1s infinite;
          animation: cursoranim .5s linear 1s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 1400px) {
  .section2 .avatars .third-image {
    left: 85%;
  }
}

@media screen and (max-width: 850px) {
  .section2 .avatars .third-image {
    left: initial;
    right: 0;
    top: 90%;
  }
}

.section2 .avatars > div {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.section2 .avatars > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.section2 .avatars > div:hover p {
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.section2 .avatars > div img {
  width: 350px;
  display: block;
  margin: auto;
}

.section2 .avatars > div p {
  text-align: center;
  margin-top: -50px !important;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-family: "BlinkerSemiBold";
  font-size: 1.625rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
}

@media screen and (max-width: 850px) {
  .section2 .avatars > div p {
    font-size: 1.3rem;
  }
}

.section2 .avatars > div .pleca {
  width: 70%;
  margin: 50px auto 0 auto;
  display: block;
}

.section3 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #010628;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .section3 {
    height: auto;
    padding: 5.55556% 0;
  }
}

.section3 h1 {
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1400px) {
  .section3 h1 {
    margin-bottom: 0;
  }
}

.section3 .fondo {
  position: absolute;
  right: -25%;
  top: -10%;
  width: 1000px;
}

.section3 > div {
  width: 900px;
  height: 600px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .section3 > div {
    width: 550px;
  }
}

@media screen and (max-width: 850px) {
  .section3 > div {
    width: 380px;
  }
}

.section3 > div .svgcont {
  position: absolute;
  width: 220px;
}

@media screen and (max-width: 850px) {
  .section3 > div .svgcont {
    width: 170px;
  }
}

.section3 > div .svgcont.svg1 {
  left: 210px;
  top: 110px;
}

@media screen and (max-width: 1200px) {
  .section3 > div .svgcont.svg1 {
    left: 70px;
  }
}

@media screen and (max-width: 850px) {
  .section3 > div .svgcont.svg1 {
    top: 200px;
    left: 50px;
    width: 130px;
  }
}

.section3 > div .svgcont.svg2 {
  right: 230px;
  top: 100px;
}

@media screen and (max-width: 1200px) {
  .section3 > div .svgcont.svg2 {
    right: 60px;
  }
}

@media screen and (max-width: 850px) {
  .section3 > div .svgcont.svg2 {
    right: 50px;
    top: 180px;
  }
}

.section3 > div .svgcont.svg3 {
  right: 210px;
  bottom: 200px;
}

@media screen and (max-width: 1200px) {
  .section3 > div .svgcont.svg3 {
    right: 40px;
    bottom: 200px;
  }
}

@media screen and (max-width: 850px) {
  .section3 > div .svgcont.svg3 {
    right: 20px;
  }
}

.section3 > div .svgcont.svg4 {
  right: 190px;
  top: 80px;
}

@media screen and (max-width: 1200px) {
  .section3 > div .svgcont.svg4 {
    right: 30px;
  }
}

@media screen and (max-width: 850px) {
  .section3 > div .svgcont.svg4 {
    right: 30px;
    top: 130px;
  }
}

.section3 > div .svgcont polyline, .section3 > div .svgcont line {
  stroke-dasharray: 3;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

.section3 > div .barra {
  width: 13px;
  position: absolute;
}

@media screen and (max-width: 1400px) {
  .section3 > div .barra {
    width: 10px;
  }
}

.section3 > div .barra.barraleft {
  left: 0;
}

.section3 > div .barra.barraright {
  right: 0;
}

.section3 > div .base {
  width: 270px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .section3 > div .base {
    width: 250px;
  }
}

.section3 > div .cuernoder {
  position: absolute;
  right: 150px;
  width: 70px;
  top: 0px;
}

@media screen and (max-width: 1200px) {
  .section3 > div .cuernoder {
    right: 30px;
  }
}

@media screen and (max-width: 850px) {
  .section3 > div .cuernoder {
    right: 20px;
    top: 40px;
  }
}

.section3 > div .cuernoizq {
  position: absolute;
  left: 140px;
  width: 60px;
  top: 120px;
}

@media screen and (max-width: 1200px) {
  .section3 > div .cuernoizq {
    left: 20px;
  }
}

@media screen and (max-width: 850px) {
  .section3 > div .cuernoizq {
    left: 20px;
    top: 180px;
  }
}

.section3 > div .ojos {
  position: absolute;
  right: 190px;
  width: 70px;
  top: 210px;
}

@media screen and (max-width: 1200px) {
  .section3 > div .ojos {
    right: 10px;
  }
}

@media screen and (max-width: 850px) {
  .section3 > div .ojos {
    top: 260px;
    right: 20px;
  }
}

.section3 > div .boca {
  position: absolute;
  right: 210px;
  width: 30px;
  bottom: 280px;
}

@media screen and (max-width: 1200px) {
  .section3 > div .boca {
    right: 50px;
    bottom: 270px;
  }
}

@media screen and (max-width: 850px) {
  .section3 > div .boca {
    right: 20px;
    bottom: 250px;
  }
}

.section4 {
  background-color: #010628;
  position: relative;
  width: 100%;
  padding: 5.55556%;
}

.section4 h1 {
  text-align: center;
  margin-bottom: 50px;
}

.section4 h2 {
  text-transform: capitalize;
}

.section4 .cont {
  height: 100vh;
  position: relative;
  width: 1200px;
  margin: auto;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .section4 .cont {
    width: 900px;
    height: 900px;
  }
}

@media screen and (max-width: 1200px) {
  .section4 .cont {
    width: 700px;
    height: 700px;
  }
}

@media screen and (max-width: 850px) {
  .section4 .cont {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 580px) {
  .section4 .cont {
    width: 100%;
    height: 100vh;
  }
}

.section4 .cont polyline, .section4 .cont line {
  stroke-dasharray: 3;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

.section4 .cont .svgcont {
  position: absolute;
  width: 230px;
}

@media screen and (max-width: 1200px) {
  .section4 .cont .svgcont {
    width: 150px;
  }
}

@media screen and (max-width: 850px) {
  .section4 .cont .svgcont {
    display: none;
  }
}

.section4 .cont .line, .section4 .cont .verticalline {
  display: none;
}

.section4 .cont .svg1 {
  left: 320px;
  top: 40px;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .svg1 {
    left: 260px;
    top: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .section4 .cont .svg1 {
    left: 190px;
    top: 40px;
    width: 150px;
  }
}

.section4 .cont .svg2 {
  left: 310px;
  top: 240px;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .svg2 {
    width: 190px;
    left: 220px;
    top: 230px;
    z-index: 1;
  }
}

@media screen and (max-width: 1200px) {
  .section4 .cont .svg2 {
    width: 190px;
    left: 150px;
    top: 150px;
    z-index: 0;
  }
}

.section4 .cont .svg3 {
  left: 290px;
  bottom: 200px;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .svg3 {
    left: 190px;
    bottom: 170px;
  }
}

.section4 .cont .svg4 {
  right: 300px;
  top: 110px;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .svg4 {
    right: 210px;
    top: 70px;
  }
}

@media screen and (max-width: 1400px) {
  .section4 .cont .svg4 {
    right: 180px;
    top: 80px;
  }
}

.section4 .cont .svg5 {
  right: 300px;
  bottom: 200px;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .svg5 {
    right: 240px;
    bottom: 340px;
  }
}

@media screen and (max-width: 1200px) {
  .section4 .cont .svg5 {
    right: 190px;
    bottom: 300px;
  }
}

.section4 .cont .svg6 {
  right: 300px;
  bottom: 110px;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .svg6 {
    right: 210px;
    bottom: 210px;
  }
}

@media screen and (max-width: 1200px) {
  .section4 .cont .svg6 {
    right: 190px;
    bottom: 200px;
    z-index: 1;
  }
}

.section4 .cont .rare {
  position: absolute;
  left: 0;
  top: 0;
}

.section4 .cont .rare .cuadro1 {
  left: 0;
  bottom: 4px;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: linear;
          animation-direction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.section4 .cont .rare .cuadro2 {
  left: 130px;
  bottom: 4px;
  -webkit-animation: opacity infinite 3s linear forwards;
          animation: opacity infinite 3s linear forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.section4 .cont .rare .cuadro3 {
  left: 260px;
  bottom: 4px;
}

.section4 .cont .head {
  position: absolute;
  top: 0;
  right: 0;
}

.section4 .cont .eyes {
  position: absolute;
  bottom: 20%;
  right: 0;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .eyes {
    top: initial;
    bottom: 35%;
  }
}

@media screen and (max-width: 1200px) {
  .section4 .cont .eyes {
    bottom: 45%;
  }
}

@media screen and (max-width: 850px) {
  .section4 .cont .eyes {
    top: initial;
    bottom: 30%;
  }
}

.section4 .cont .clothes {
  position: absolute;
  bottom: 40px;
  right: 0;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .clothes {
    bottom: 20%;
  }
}

@media screen and (max-width: 850px) {
  .section4 .cont .clothes {
    bottom: 20%;
  }
}

.section4 .cont .mouth {
  position: absolute;
  left: 0;
  bottom: 60%;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .mouth {
    bottom: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .section4 .cont .mouth {
    z-index: 1;
  }
}

@media screen and (max-width: 850px) {
  .section4 .cont .mouth {
    top: 10%;
    bottom: initial;
  }
}

.section4 .cont .bg {
  position: absolute;
  bottom: 20%;
  left: 0;
}

.section4 .cont .avatar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 350px;
  height: 350px;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .avatar {
    width: 300px;
    height: 300px;
    top: -150px;
  }
}

@media screen and (max-width: 1200px) {
  .section4 .cont .avatar {
    width: 250px;
    height: 250px;
    top: -150px;
  }
}

@media screen and (max-width: 850px) {
  .section4 .cont .avatar {
    width: 250px;
    height: 250px;
    top: -150px;
  }
}

.section4 .cont .avatar img {
  width: 350px;
}

@media screen and (max-width: 1400px) {
  .section4 .cont .avatar img {
    width: 300px;
  }
}

@media screen and (max-width: 850px) {
  .section4 .cont .avatar img {
    width: 250px;
  }
}

.section4 .traits img {
  width: 100px;
}

@media screen and (max-width: 1400px) {
  .section4 .traits img {
    width: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .section4 .traits img {
    width: 50px;
  }
}

.shopify-buy-frame--product {
  margin: auto;
}

.shopify-buy__product__title {
  color: white !important;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section1, .section2, .section3, .section4, .section6, .section7, .section9, .section10 {
  position: relative;
  z-index: 1;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
}

.coloredbg {
  position: fixed;
  left: 0;
  top: 0;
  background: #af41af;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #af41af), color-stop(50%, #3634e7), to(#010628));
  background: linear-gradient(0deg, #af41af 20%, #3634e7 50%, #010628 100%);
  width: 100%;
  height: 100%;
}

.coloredbg.revealed {
  background: #010628;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #010628), color-stop(47%, #3634e7), to(#af41af));
  background: linear-gradient(0deg, #010628 2%, #3634e7 47%, #af41af 100%);
}

.section5 {
  position: relative;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  .section5 {
    overflow: hidden;
  }
}

.section5 .container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.section5 .container h1 {
  margin-top: 100px;
  text-align: center;
}

.section5 .container .fondo {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.section5 .button {
  bottom: -20px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .section5 .button {
    bottom: 10px;
  }
}

.section5 .entire-content {
  width: 200px;
}

@media screen and (max-width: 1400px) {
  .section5 .entire-content {
    width: 130px;
  }
}

.buybutton {
  background: #010628;
  width: 100%;
  position: relative;
}

.section6 {
  background-color: #010628;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.55556%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .section6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section6 .choose-cont {
  padding: 0;
  width: 50%;
}

.section6 .choose-cont li {
  position: relative;
}

.section6 .choose-cont li h1 {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  z-index: 1;
  margin: auto;
}

.section6 .choose-cont .slide-img {
  width: 400px;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .section6 .choose-cont .slide-img {
    width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .section6 .choose-cont {
    width: 100%;
  }
}

.section6 .choose-cont .slick-current h1 {
  /* opacity: 0;
        animation-name: title;
        animation-duration: .5s;
        animation-timing-function: ease;
        animation-delay: 0;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-fill-mode: forwards; */
}

@media screen and (max-width: 1200px) {
  .section6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .section6 #slideshow {
    display: none;
  }
}

.section6 .responsive-slider {
  width: 100%;
  height: 100%;
  display: none;
}

@media screen and (max-width: 1200px) {
  .section6 .responsive-slider {
    display: block;
  }
}

.section6 .responsive-slider .slider-cont {
  padding: 0;
}

.section6 .responsive-slider .slider-cont li img {
  width: 250px;
  display: block;
  margin: auto;
}

.section6 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto 0 auto;
  width: 100px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section6 .slick-dots li {
  cursor: pointer;
}

.section6 .slick-dots button {
  cursor: pointer;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gray;
}

.section6 .button {
  margin: 0;
}

.section6 .right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .section6 .right {
    width: 100%;
  }
}

.section6 .right p {
  font-family: 'BlinkerExtraLight';
  margin: 15px 0;
}

.section7 {
  background-color: #010628;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5.55556%;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .section7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: initial;
  }
}

.section7 .fondo {
  position: absolute;
  left: -10%;
  top: 0;
  width: 650px;
}

.section7 .left {
  width: 33.33333%;
}

@media screen and (max-width: 1400px) {
  .section7 .left {
    width: 100%;
    margin-bottom: 50px;
  }
}

.section7 .left h1 {
  max-width: 550px;
}

@media screen and (max-width: 1400px) {
  .section7 .left h1 {
    text-align: center;
    max-width: initial;
    display: none;
  }
}

.section7 .right {
  width: 66.66667%;
}

@media screen and (max-width: 1400px) {
  .section7 .right {
    width: 100%;
  }
}

.section7 .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .section7 .right ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section7 .right ul li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section7 .right ul li .hidden {
  opacity: 0;
}

.section7 .right ul li h1 {
  z-index: 1;
  display: none;
}

@media screen and (max-width: 1400px) {
  .section7 .right ul li h1 {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .section7 .right ul li {
    margin-bottom: 50px;
  }
}

.section7 .right ul li .switch {
  width: 150px;
  height: 30px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  position: relative;
  border: 1px solid #F93DF9;
  border-radius: 20px;
  cursor: pointer;
}

.section7 .right ul li .switch .sd {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: absolute;
  left: 0;
  width: 75px;
  height: 30px;
  background-color: gray;
  border-radius: 50px 0 0 50px;
}

.section7 .right ul li .switch .sd.active {
  left: 50%;
  background-color: #F93DF9;
  border-radius: 0 50px 50px 0;
}

.section7 .right ul li .switch .onoff.off {
  z-index: 1;
  width: 50%;
  border-radius: 50px 0 0 50px;
}

.section7 .right ul li .switch .onoff.on {
  z-index: 1;
  width: 50%;
  border-radius: 0 50px 50px 0;
}

.section7 .right ul li .cont {
  border: 1px solid #F93DF9;
  border-radius: 20px;
  padding: 25px;
  width: 300px;
  height: 220px;
}

@media screen and (max-width: 850px) {
  .section7 .right ul li .cont {
    height: auto;
  }
}

.section7 .right ul li .cont h2 {
  color: #F93DF9;
  font-family: BlinkerSemiBold;
  font-size: 1.8rem;
  color: #F93DF9;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  text-transform: capitalize;
}

@media screen and (max-width: 1400px) {
  .section7 .right ul li .cont h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .section7 .right ul li .cont h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 580px) {
  .section7 .right ul li .cont h2 {
    font-size: 1.2rem;
  }
}

.section7 .right ul li .cont b {
  color: #F93DF9;
}

.section7 .right ul li .cont .especial {
  font-family: "BlinkerSemiBold";
  font-size: 1rem;
  color: #F93DF9;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  margin: 10px 0;
}

@media screen and (max-width: 850px) {
  .section7 .right ul li .cont .especial {
    font-size: 0.8rem;
  }
}

.section7 .right ul li .cont .paragraph {
  margin: auto;
  font-family: 'BlinkerExtraLight';
  max-width: 200px;
  line-height: initial;
}

.section7 .right .light {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.section7 .right .light.active {
  opacity: 1;
}

.section7 .right .base {
  margin-top: 0;
  margin-bottom: 20px;
  width: 250px;
}

.section7 .right .avatar {
  margin-top: 30px;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 1;
}

@media screen and (max-width: 1400px) {
  .section7 .right .avatar {
    width: 300px;
  }
}

@media screen and (max-width: 850px) {
  .section7 .right .avatar {
    margin-top: 0px;
  }
}

.section7 .right .avatar.active {
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#slideshow {
  pointer-events: none;
}

.section88 {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.section88 .container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section88 .container h1 {
  margin-top: 100px;
  text-align: center;
}

.section88 .container .fondo {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.section88 .container .button {
  bottom: 15px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.section88 .entire-content {
  width: 200px;
}

@media screen and (max-width: 1400px) {
  .section88 .entire-content {
    width: 130px;
  }
}

.section9 {
  width: 100%;
  padding: 5.55556% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #010628;
}

.section9 h1 {
  text-align: center;
}

.section9 .logobarra {
  position: relative;
  width: 100%;
  height: 100%;
}

.section9 .logobarra .logo {
  position: absolute;
  width: 200px;
  left: 20%;
  top: 30%;
}

@media screen and (max-width: 1400px) {
  .section9 .logobarra .logo {
    left: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .section9 .logobarra .logo {
    left: 0;
    right: 0;
    margin: auto;
  }
}

.section9 .logobarra .barra {
  top: 61px;
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: #F93DF9;
  -webkit-filter: blur(14px);
          filter: blur(14px);
  opacity: .3;
}

.section9 .faq {
  width: 33.33333%;
  padding: 0;
}

@media screen and (max-width: 1400px) {
  .section9 .faq {
    width: 55.55556%;
  }
}

@media screen and (max-width: 1200px) {
  .section9 .faq {
    margin-top: 200px;
  }
}

.section9 .faq li {
  border: 1px solid #F93DF9;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  max-height: 70px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .section9 .faq li {
    max-height: 80px;
  }
}

.section9 .faq li::after {
  content: "+";
  display: block;
  position: absolute;
  right: 20px;
  top: 23px;
  font-size: 20px;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section9 .faq li.active {
  max-height: 300px;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.section9 .faq li.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section9 .faq li p {
  text-align: center;
  color: #F93DF9;
}

.section9 .faq li > div {
  border-top: solid 1px #F93DF9;
  margin-top: 20px;
}

.section9 .faq li > div p {
  color: #ffffff;
  font-family: 'BlinkerExtraLight';
}

.section10 {
  width: 100%;
  background-color: #c1c1c1;
  padding: 5.55556% 0;
}

@media screen and (max-width: 850px) {
  .section10 {
    padding: 5.55556%;
  }
}

.section10 h1 {
  margin: 0px 0 100px 0;
  color: #000000;
  text-align: center;
}

.section10 .memm1, .section10 .memm2, .section10 .memm3, .section10 .memm5, .section10 .memm6, .section10 .memm7, .section10 .memm8 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section10 .memm1 .left, .section10 .memm2 .left, .section10 .memm3 .left, .section10 .memm5 .left, .section10 .memm6 .left, .section10 .memm7 .left, .section10 .memm8 .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media screen and (max-width: 850px) {
  .section10 .memm1 .left, .section10 .memm2 .left, .section10 .memm3 .left, .section10 .memm5 .left, .section10 .memm6 .left, .section10 .memm7 .left, .section10 .memm8 .left {
    width: 100% !important;
  }
}

.section10 .memm1 .left .logo, .section10 .memm2 .left .logo, .section10 .memm3 .left .logo, .section10 .memm5 .left .logo, .section10 .memm6 .left .logo, .section10 .memm7 .left .logo, .section10 .memm8 .left .logo {
  width: 50px !important;
  height: 50px !important;
  position: absolute;
  left: 0;
  top: 0;
}

.section10 .memm1 .right, .section10 .memm2 .right, .section10 .memm3 .right, .section10 .memm5 .right, .section10 .memm6 .right, .section10 .memm7 .right, .section10 .memm8 .right {
  text-align: center;
}

.section10 .memm1 h2, .section10 .memm2 h2, .section10 .memm3 h2, .section10 .memm5 h2, .section10 .memm6 h2, .section10 .memm7 h2, .section10 .memm8 h2 {
  margin-top: 20px;
  color: #000000;
  text-transform: capitalize;
}

@media screen and (max-width: 850px) {
  .section10 .memm4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section10 .memm4 .right {
  position: relative;
}

@media screen and (max-width: 850px) {
  .section10 .memm4 .right {
    width: 100% !important;
  }
}

@media screen and (max-width: 850px) {
  .section10 .memm4 .left {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .section10 .memm4 .left img {
    display: block;
    margin: 0 auto 50px auto;
  }
}

.section10 .memm4 .logo {
  width: 50px !important;
  height: 50px !important;
  position: absolute;
  right: -70px;
  top: 40%;
}

@media screen and (max-width: 1400px) {
  .section10 .memm4 .logo {
    right: 0px;
    top: 0;
  }
}

@media screen and (max-width: 850px) {
  .section10 .memm4 .logo {
    right: 0;
    top: 0;
  }
}

.section10 #memberinfo {
  width: 50%;
  margin: auto;
  display: none;
}

@media screen and (max-width: 1400px) {
  .section10 #memberinfo {
    width: 88.88889%;
    margin: 5.55556%;
  }
}

.section10 #memberinfo.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section10 #memberinfo .left {
  width: 50%;
}

@media screen and (max-width: 1400px) {
  .section10 #memberinfo .left {
    width: 66.66667%;
  }
}

.section10 #memberinfo .left img {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}

@media screen and (max-width: 1400px) {
  .section10 #memberinfo .left img {
    width: 200px;
    height: 200px;
  }
}

.section10 #memberinfo .right {
  width: 50%;
}

@media screen and (max-width: 1400px) {
  .section10 #memberinfo .right {
    width: 66.66667%;
  }
}

.section10 #memberinfo .right p {
  font-family: 'BlinkerExtraLight';
  color: #000000;
}

.section10 .bottom {
  margin: 100px 0 0 0;
  padding: 0 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .section10 .bottom {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 850px) {
  .section10 .bottom {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

@media screen and (max-width: 580px) {
  .section10 .bottom {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.section10 .bottom::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  background-color: #F93DF9;
  left: 0;
  width: 100%;
  height: 40px;
}

.section10 .bottom::after {
  display: none;
  position: absolute;
  bottom: 0;
  content: "";
  background-color: #F93DF9;
  left: 0;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 1200px) {
  .section10 .bottom::after {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .section10 .bottom::after {
    display: none;
  }
}

.section10 .bottom .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  .section10 .bottom .member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .section10 .bottom .member:nth-last-child(-n+4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section10 .bottom .member:nth-last-child(-n+4) p {
    margin-top: 30px;
    padding: 5px;
  }
}

.section10 .bottom .member p {
  background-color: #F93DF9;
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1600px) {
  .section10 .bottom .member p {
    font-family: "BlinkerSemiBold";
    font-size: 1.125rem;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2;
  }
}

@media screen and (max-width: 1600px) and (max-width: 850px) {
  .section10 .bottom .member p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1400px) {
  .section10 .bottom .member p {
    font-family: "BlinkerSemiBold";
    font-size: 0.75rem;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2;
  }
}

@media screen and (max-width: 1400px) and (max-width: 850px) {
  .section10 .bottom .member p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 850px) {
  .section10 .bottom .member p {
    font-family: "BlinkerSemiBold";
    font-size: 1.125rem;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2;
    margin-top: 15px;
    padding: 4px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 850px) and (max-width: 850px) {
  .section10 .bottom .member p {
    font-size: 0.9rem;
  }
}

.section10 .bottom .member img {
  margin-top: 30px;
  width: 120px;
  cursor: pointer;
}

/* 3D Slideshow */
#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 600px;
  width: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.entire-content {
  margin: auto;
  width: 300px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  -webkit-animation: rotar 15s infinite linear;
          animation: rotar 15s infinite linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* .content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
} */
.content-carrousel figure {
  width: 90%;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(300px);
          transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  -webkit-transform: rotateY(120deg) translateZ(300px);
          transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  -webkit-transform: rotateY(240deg) translateZ(300px);
          transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel img {
  image-rendering: auto;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@-webkit-keyframes rotar {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotar {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes title {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes title {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.barrablanca {
  pointer-events: none;
  width: 100%;
  height: 500px;
  background-color: #c1c1c1;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*# sourceMappingURL=app.css.map */